# Xcode
build/
DerivedData/
*.xcworkspace
*.xccheckout
*.moved-aside
*.xcuserstate

# User data
xcuserdata/
*.swp
*.swo

# System
.DS_Store
*.log

# Swift Package Manager
Packages/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carpertas de Preview Content que no deben subirse
Preview\ Content/
MiTiendita/Preview\ Content/
